.no-match {
  text-align: center;
  background-color: #212529;
  min-height: 100vh;
  color: #fff;
  padding-bottom: 270px;
  margin-bottom: -271px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 30%;
  }

  h1 {
    font-size: 80px;
  }

  .btn {
    border-radius: 8px;
    font-size: 1.3rem;
    padding: 15px 45px;
    transition: .3s;

    &.btn-primary {
      color: #fff;
    }
  }
}