@import "_normalize";
@import "_variables";

* {
  font-family: 'Jost', sans-serif;
}

// ****************************************** //
/* Navigation */

.navbar {
  background: transparent;
  padding-left: 5%;
  padding-right: 5%;

  .navbar-brand img {
    height: 50px;
  }
}
.main-header {
  position: absolute;
  z-index: 1;

  .navbar-links {
    .nav-link {
      margin: 0 5px;
      border-radius: 8px;
      color: #fff;
      font-size: 1.1rem;
      transition: .3s;
  
      &:hover {
        background-color: #ffffff20;
      }
  
    }
    .nav-link.active {
      background-color: #ffffff20;
    }
  }

  .navbar-buttons {
    .btn {
      border-radius: 8px;
      font-size: 1.1rem;
      padding: 10px 25px;
      transition: .3s;

      &.btn-outline-primary {
        color: #fff;
        border-color: #ffffff20;
        background-color: #ffffff20;

        &:hover {
          background-color: #ffffff40;
          border-color: #ffffff40;
        }
      }
    }
  }
}

.sub-header {
  background-color: #212529;

  .navbar-links {
    .nav-link {
      margin: 0 5px;
      border-radius: 8px;
      color: #fff;
      font-size: 0.8rem;
      transition: .3s;
  
      &:hover {
        background-color: #ffffff15;
      }
  
    }
    .nav-link.active {
      background-color: #ffffff15;
    }
  }
}

// .fixed-top {
//   top: 52px;
// }



// ****************************************** //
/* Footer */
.footer {
  margin-top: 150px;
  
  img {
    height: 50px;
  }

  .footer-start {
    .container {
      position: relative;
      z-index: 59;
      background-color: $c-cta;
      color: #fff;
      padding: 50px;
      border-radius: 8px;
      box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15);
      -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15);
      -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15);
      margin-bottom: -115px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      
      h2 {
        font-size: 60px;
      }

      h5 {
        font-weight: 400;
        max-width: 80%;
      }

      .footer-cta {
        .btn {
          border-radius: 8px;
          font-size: 1.3rem;
          padding: 15px 45px;
          transition: .3s;
    
          &.btn-primary {
            color: #fff;
            background-color: #212529;
            border-color: #212529;
    
            svg {
              height: 25px;
              width: 25px;
              margin-right: 10px;
              margin-top: -5px;
    
              line {
                stroke: #fff;
              }
            }
    
            &:hover {
              background-color: #121417;
            }
          }
          &.btn-text {
            color: #212529;
            
            svg {
              height: 25px;
              width: 25px;
              margin-right: 10px;
              margin-top: -5px;
            }
    
            &:hover {
              background-color: #21252910;
            }
          }
        }
      }
    }
  }

  .footer-main {
    padding: 230px 0 0 0;
    background-color: #212529;
    color: #fff;
    
    h4 {
      
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      color: #919496;

      a {
        color: #919496;
        text-decoration: none;
        transition: .3s;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .footer-legal {
    padding: 150px 0 20px 0;
    font-size: 13px;
    color: #919496;
    display: flex;
    justify-content: space-between;

    .privacy-links {
      text-align: left;

      a {
        margin-right: 25px;
      }
    }

    a {
      color: #919496;
      transition: .3s;

      &:hover {
        color: #fff;
      }
    }
    .podify-legal {
      text-align: right;
    }
  }
}