@import "_normalize";
@import "_variables";

body {
  font-family: 'Source Sans Pro', sans-serif;
}

// ****************************************** //
/* Navigation */



// ****************************************** //
/* Footer */
.footer {
  background-color: black;
  color: #fff;
  padding: 50px 0;
  height: 200px;

  h1 {
    text-align: center;
  }
}