@import "_normalize";
@import "_variables";

body {
  font-family: 'Source Sans Pro', sans-serif;
}

// ****************************************** //
/* Navigation */
.navbar {
  .nav-link.active {
    
  }
  .btn-navbar {
    margin-right: 20px;
    border-radius: 30rem;
    border: 2px solid;
    border-color: #e31f52;
    background: transparent;
    transition: .3s;

    &:hover {
      background: #e31f52;
      color: #fff;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// ****************************************** //
/* Footer */
.footer {
  background-color: black;
  color: #fff;
  padding: 50px 0;
  box-sizing: content-box;

  h1 {
    text-align: center;
  }
}