.overview {
  padding: 5vh 5vw 15vh 5vw;
  background: #f5f8f9;

  .dashboard-header {

  }

  form.dashboard-search {
    margin: 14px 0;

    .form-control {
      border: 2px solid #e5e8ed;
      border-radius: .25rem;
      padding: 1.5rem 2rem;
      font-size: 1.2rem;
      text-align: center;
      transition: .2s;

      &:focus {
        color: #495057;
        outline: 0;
        box-shadow: 0 0 4px rgba(3, 27, 78, 0.07);
      }

      &:hover {
        box-shadow: 0 0 4px rgba(3, 27, 78, 0.07);
      }
    }
  }

  .library {
    margin-bottom: 50px;
    h4 {
      color: rgba(0,0,0,.5);
      text-align: center;
      margin: 0;
      padding: 15vh 0;
    }
  }

  .curation-tools {
    margin-bottom: 50px;
    h4 {
      color: rgba(0,0,0,.5);
      text-align: center;
      margin: 0;
      padding: 15vh 0;
    }
  }

  .stats {
    h4 {
      color: rgba(0,0,0,.5);
      text-align: center;
      margin: 0;
      padding: 15vh 0;
    }
  }

  .my-account {
    .spacer {
      height: 33.6px;
      margin-bottom: .5rem;
    }
    .account-img {
      padding: 20px 0;

      img {
        height: 192px;
      }
    }
    .title {

    }
    .value {
      color: rgba(0,0,0,.5);
      font-weight: bold;
    }
  }

  .account-settings {
    button {
      margin: 0 auto;
    }
  }
}