.genrebox{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 50px;
  grid-gap: 40px;
  margin: 15vh auto;
  
  a{
    text-decoration: none;
    width: 100%;
    position: relative;
    display: inline-block;
    box-shadow: 0 0 4px rgba(3, 27, 78, 0.1);
    opacity: 0.8;
    transition: .2s;

    &:hover {
      opacity: 1;
      img {
        box-shadow: 0 0 20px rgba(3, 27, 78, 0.3);
        
      }
    }

    img{
      width: 100%;
      border-radius: .50rem;
      box-shadow: 0 0 4px rgba(3, 27, 78, 0.1);
      transition: .2s;
    }

   

    .textbox{
      width: 100%;
      position: absolute;
      margin: 0 auto;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      p{
        font-size: 40px;
        text-align: center;
        color: rgb(255, 255, 255);
        
      }
    }
    
  }
 

  .genrelink{
    grid-column: 2/4;
    grid-row: 3/-1;

    width: 300px;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid pink;
    color: #000;
    text-decoration: none;
    
  }
}