@import "_variables";

.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container-fluid {
    padding: 0 5%;
  }

  h1 {
    font-size: 80px;
    font-weight: 600;
  }

  .home-cta {
    margin-top: 50px;

    .btn {
      border-radius: 8px;
      font-size: 1.3rem;
      padding: 15px 45px;
      transition: .3s;

      &.btn-primary {
        color: #fff;
        background-color: #212529;
        border-color: #212529;

        svg {
          height: 25px;
          width: 25px;
          margin-right: 10px;
          margin-top: -5px;

          line {
            stroke: #fff;
          }
        }

        &:hover {
          background-color: #121417;
        }
      }
      &.btn-text {
        color: #212529;
        
        svg {
          height: 25px;
          width: 25px;
          margin-right: 10px;
          margin-top: -5px;
        }

        &:hover {
          background-color: #21252910;
        }
      }
    }
  }

  .home-featured {
    .home-cover {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      object-fit: contain;
      z-index: -2;
    }
    .btn-play {
      margin-top: -95px;
      display: flex;
      margin-left: auto;

      svg {
        height: 125px;
        width: 125px;

        circle,
        polygon {
          stroke: $c-cta;
        }
      }

      &:hover {
        svg {
          circle,
          polygon {
            stroke: $c-cta-hover;
          }
        }
      }
    }
  }
}