.home {
  padding: 300px 0;

  h1 {
    text-align: center;
    text-transform: uppercase;
  }
  form {

    input {
      
    }
  }
  .search-genres {
    text-align: center;

    a {
      color: #27323b;

      &:hover {
        
      }
    }
    .fa-circle {
      color: #df6988;
    }
  }
}