.home {
  padding: 20vh 0;

  .logo {
    margin-bottom: 100px;
    width: 50%;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
  }
  form {
    .form-control {
      border-color: #e21a4e;
      border-top-left-radius: .75rem;
      border-bottom-left-radius: .75rem;
      padding: 1.5rem 0.75rem;
      font-size: 1.2rem;

      &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #e21a4e;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(226, 26, 78,.25);
      }
    }
    .input-group-append {
      width: 100px;
      
      button {
        background-color: #e21a4e;
        border-color: #e21a4e;
        width: 100%;
        border-top-right-radius: .75rem;
        border-bottom-right-radius: .75rem;
        font-size: 1.2rem;

        &:hover {
          background-color: #b91640;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  .search-genres {
    text-align: center;

    a {
      color: #27323b;

      &:hover {
        
      }
    }
    .fa-circle {
      color: #e21a4e;
      vertical-align: middle;
      font-size: .3rem;
    }
  }
}