.universal-player {
  margin: 25vh 0;
  padding: 20px;
  box-shadow: 0 0 4px rgba(3,27,78,.20);
  width: 100%;

  .player {
    border: 2px solid black;
    border-style: none solid none solid;
    height: 90px;

    .info {
      display: flex;
      justify-content: flex-start;

      img {
          height: 90px;
      }
      .info-links {
        margin: auto 0;
        margin-left: 10px;

        .info-name {
          display: inline-block;
          color: rgba(0,0,0,.9);
        }
        .info-author {
          display: inline-block;
          color: #ccc;
          color: rgba(0,0,0,.5);
        }
      }
    }
    .controls {
      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        
        button {
          color: rgba(0,0,0,.5);

          &:hover {
            color: rgba(0,0,0,.9);
          }
        }
      }

      .progress-container {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .left-timer {
          
        }

        .progress {
          vertical-align: middle;

          .progress-bar {
            width: 25%;
          }
        }

        .right-timer {
          
        }
      }
    }
    .volume {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      button {
        color: rgba(0,0,0,.5);

        &:hover {
          color: rgba(0,0,0,.9);
        }
      }
    }
  }
}